<head>
    
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/amb/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/amb/lib/jasny/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/amb/lib/material/css/ripples.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/bower_components/bootstrap-tags-pills/css/bootstrap-tags.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/bower_components/labelauty/source/jquery-labelauty.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/lib/settlements/foundation-datepicker.css">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/amb/css/menu.css?ver=4.4.10">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/lib/jquery.tablesorter/themes/multilink/style.css?ver=4.4.10">
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/css/ofi.css?ver=4.4.10">
    <link href="http://www.multilink.com.au/webmultilink/assets/default/lib/select2/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://www.multilink.com.au/webmultilink/assets/default/css/style2.css?ver=4.4.10">

</head>
<style>
    body{
        margin-left:10px;
        padding-left:20px;
        padding-top: 10px;
    }
</style>
<div ng-show="isMainVisible" class="ofi-container">


    <div class="row">
        <div class="col-md-12">
            <button id="save_using_dump_then_close" class="btn btn-success margin-bottom-10px withripple" style="width: 200px;background-color:#9b59bb;border:solid 1px #fff;" data-loading-text="Saving..." ng-href="#here" ng-click="try_save_using_dump_then_close()" href="#here">Done<div class="ripple-wrapper"></div></button>
        </div>
    </div><div id="ofi-datetime" class="inline" ms-ofi-calendar="" style="margin-left: -5px !important;">
        <div class="input-prepend inner">
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar icon-large fa fa-calendar"></i></span>
            <input disabled="" data-format="dd/MM/yyyy" type="text" placeholder="OFI Datetime" ng-model="ofi.ofi_date_formatted" value="19/11/2016" class="ng-pristine ng-valid">
        </div>
    </div>
    <div class="doc-availability">
        <a target="_blank" href="http://www.multilink.com.au/webmultilink/index.php/stock/public/stock/display_doc_no_n/1/283527">
            <i class="fa fa-file-text-o"></i>
        </a>
        <span class="doc-available-msg">
            <a target="_blank" href="http://www.multilink.com.au/webmultilink/index.php/stock/public/stock/display_doc_no_n/1/283527">
                Docs. YES  (Click here to open)
            </a>
        </span>
    </div>
    
    <div class="md action-btn-group">
        <div class="row hidden">
        </div>
        <hr>
        <div class="btn-group" ng-disabled="is_sent">

            <button id="ofi_send_consistent" ng-hide="iss==true" data-loading-text="Sending..." data-error-text="Error" data-finish-text="All sent" class="btn ofi-ctrl-btn ofi-send btn-material-bluegrey withripple" ng-class="{'btn-material-bluegrey': !ofi.is_sent}" ng-click="ofi_send_consistent($event); ofi.get_is_sent();" ng-disabled="ofi.is_sent">
                <span ng-hide="ofi.is_sent">Send Message/Docs. to  buyers</span>

                <!--                    commented in att to fix disappearing finished button-->
                <!--<span ng-hide="ofi.is_sent">-->
                <span ng-show="ofi.is_sent" style="display: none;">All sent</span>
                <div class="ripple-wrapper"></div>
            </button>

            <button ng-show="iss==true" class=" btn ofi-ctrl-btn ofi-send" disabled="" style="display: none;">
                All Sent
            </button>
        </div>

        <a target="_blank" ng-hide="ofi.is_ofis_sent" href="http://www.multilink.com.au/webmultilink/index.php/helper/ofi_sms_email_vendor_attendees" class="fa fa-question-circle fa-lg">
        </a>
        &nbsp;&nbsp;
        <!--   now using mobile version across devices     -->
        <a href="#/newOfi" ng-click="new()" id="btn-new-ofi" target-clicked-flag="no" class="btn btn-info ofi-ctrl-btn sd-btn-new-ofi withripple">
            <i class="fa fa-plus"></i>&nbsp;New
            <div class="ripple-wrapper"></div>
        </a>

    </div>
