@using Multilink2.Models;
@model InspectionList
<style>
     .buyer-full-name {
       margin-top: 20px;
       margin-right: 20px; 
       padding-left:10px;
       width: 200px;
       height: 50px;
       padding-right:10px;
       font-size:18px;
       background-color:#621A4B;
       color:white;
       border-radius:5px 5px;
       float:left; 
    }
</style>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<script>
    function Storage() {

        this.get = function (name) {
            return JSON.parse(window.localStorage.getItem(name));
        };

        this.set = function (name, value) {
            window.localStorage.setItem(name, JSON.stringify(value));
        };

        this.clear = function () {
            window.localStorage.clear();
        };
    }

    function saveModel() {
        if (model.items[0] != null)
        {
            var OFFICE_ID = model.items[0].OFFICE_ID;
            var ID = model.items[0].ID
            var USER_ID = model.items[0].USER_ID;
            var OFI_DATE = model.items[0].OFI_DATE;
            key_name = "OFI_REULTS_xx_xx_"+OFFICE_ID+"_"+ID+"_"+USER_ID+"_"+OFI_DATE;

            store.set(key_name, model);
        }
    }

    function hide (elements) {
        elements = elements.length ? elements : [elements];
        for (var index = 0; index < elements.length; index++) {
            elements[index].style.display = 'none';
        }
    }

    function show (elements) {
        elements = elements.length ? elements : [elements];
        for (var index = 0; index < elements.length; index++) {
            elements[index].style.display = 'block';
        }
    }

    function hideData() {
        hide(document.querySelectorAll('#new-ofi-data'));
    }

    function showData () {
        //model.items.splice(0, 1);
        var ofi_name = document.getElementById ("ofi_name");
        show(document.querySelectorAll('#new-ofi-data'));
        model['items'].push({"OFFICE_ID":"1","ID":"283527","USER_ID":"86","OFI_DATE":"10112016","OFI_IDX":"666","PHONE":"","NAME":ofi_name.value,"SURNAME":"Clark","PRICE":"","NOTES":"","RESULT":"","EMAIL":"","MY_NOTESPOTENTIAL_SELLER":null,"WANTS_SECT32":"0","INTERESTED":"0","MAYBE_INTERESTED":"0","NOT_INTERESTED":"0","ACTIVITY_TYPE":"Inspected"});
        saveModel();

        var ofi_data = document.getElementById ("ofi_show");
        var i = 0;
        var _hmtl = "";
        for (i=0;i<1000;i++)
        {
            if (model.items[i] == null)
                break;
            _hmtl = _hmtl+
                '<div class="buyer-full-name"> '+
                model.items[i].NAME+" "+ model.items[i].SURNAME+
                '</div>';
        }
        ofi_data.innerHTML= _hmtl;


        var ofi_data = document.getElementById ("ofi_data");
        var jsonStr = JSON.stringify(model);
        var ofi_data_from_local_storage = window.localStorage.getItem(key_name);
        ofi_data.innerHTML= "From Model<br />"+jsonStr+"<br />"+localStorage.length+"<br /><br />From Local Storage<br />"+
            ofi_data_from_local_storage;

    }

    

    function saveData () {
        var jsonStr = JSON.stringify(model)
        alert(jsonStr);

        var url = "@Url.Action("saveInspections", "Inspections")";
        $.ajax({
            url: url+"/DataSent",
            type: 'POST',
            dataType: 'text',
            contentType: "text/plain; charset=utf-8",
            success: function(response) { alert(response); },
            error: function(xhr, ajaxOptions, thrownError) { alert(xhr.responseText); },
            data:jsonStr
        });
    }

    var store = new Storage();
    var model = @Html.Raw(Json.Encode(Model));
    var key_name = "";
    saveModel();
</script>

<style>
    body{
        margin-left:10px;
        padding-left:20px;
        padding-top: 10px;
    }
</style>
<body onload="showData()">
    <button onclick="showData();">New</button>
    <button onclick="saveData();">Hide</button>

    <div class="well" id="new-ofi-data"><input id="ofi_name" placeholder="Name" type="text" autocorrect="off" value=""><span class="material-input"></span></div>
    <div style="padding-left:10px;padding-bottom:10px" id="ofi_show">OFI Data....</div>
    <br /><br />
    <div style="background-color:azure;padding-left:10px;padding-bottom:10px" id="ofi_data">OFI Data....</div>


