
<style>
    .menu_heading {
       font-size:18px;
    }
    .logoff-class {
       font-size:18px;
       padding-left:10px;
       padding-right:10px;
       font-size:18px;
       font-style:normal;
       background-color:teal;
       color:white;
    }
</style>


<div class="leftPanel" id="Multilink2leftPanel">
        @* DXCOMMENT: Configure the left panel's menu *@
    @*@Html.DevExpress().NavBar(settings => {
    settings.Name = "LeftNavBar";
    settings.AutoCollapse = true;
    settings.EnableAnimation = true;
    settings.EnableClientSideAPI = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    settings.ControlStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(0);
}).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/SideMenu.xml"), "/menu/*").GetHtml()*@

    <span class="menu_heading"><i class="fa fa-home fa-fw"></i>Current Listing</span>
    <br />

        @Html.DevExpress().Menu(settings =>
   {
       settings.Name = "LeftMenu";
       settings.Enabled = Session["multilink_login"] == "ok";
       settings.EnableAdaptivity = true;
       settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
       settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
       settings.ControlStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
   }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/SideMenu.xml"), "/menu/*").GetHtml()
        <br />
        <br />
    <span class="menu_heading"><i class="fa fa-home fa-fw"></i>Sales History</span>
        <br />
        <br />
    @Html.ActionLink("Logout", "LogOff", "Login")


</div>